@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@300;400;700&family=Roboto:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url("../imagens/papel-parede-tela.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

.titulo {
    text-align: center;
    padding: 10px;
    color: rgba(245, 245, 245, 0.932);
    margin-right: 20px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;

}


.icone-redes-sociais {
    text-align: left;
}


section#telefone {
    height: 627px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-70%, -44%);
    background: url('../imagens/moldura-desenho.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 84px;
    left: 74px;
    width: 293px;
    height: 376px;
    border-radius: 4px;
}

section#redes-sociais {
    text-align: right;
}

section#icones img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
    box-sizing: border-box;
}

section#redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.473);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    transition: transform 0.3s;
}

.rodape-imagem {
    margin-left: 20px;
    width: 40px;
    border-radius: 10px;
    height: 40px;
    margin-top: 160px;

}

.rodape img {
    max-height: 30px;
    margin-left: 30px;
    margin-top: 10px;

}